.card{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: white;
    width: 400px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.inline1, .inline2 {
    display: inline-block;
    font-size: 100%;
    /* Add margins or padding for spacing */
}
.joinButoon{
    float: right;
}

.title{
    font-size: 125%;
    font-weight: bold;
}

.thumbnail{
    width: 150px;
    height: auto;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    .card{
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-top: 30px;
        background-color: white;
        width: 60%;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .inline1, .inline2 {
        display: inline-block;
        font-size: 90%;
        /* Add margins or padding for spacing */
    }
}